if TARGET_TELEOFISimx287

config SYS_CPU
	default "arm926ejs"

config SYS_BOARD
	default "TELEOFISimx287"

config SYS_VENDOR
	default "denx"

config SYS_SOC
	default "mxs"

config SYS_CONFIG_NAME
	default "TELEOFISimx287"

endif
